

.upHeart{
    position: relative;
    
}


.number{
background-color: black;
color: white;
border-radius: 50%;
position: absolute;
display: flex;
justify-content: center;
align-items: center;
padding: 5px;
left: 25px;
top: -10px;
width: 15px;
height: 15px;
z-index: 1;
}  